{
	"version": 4,
	"configurePresets": [
		{
			"name": "my-clang-cl-debug",
			"displayName": "My Clang-CL Debug",
			"inherits": "clang-cl-debug",
			"cacheVariables": {
				"VCPKG_ROOT_PATH": "C:/vcpkg"
			}
		}
	]
}
